/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

/*div.container-header{
	display: inline-flex;
	color: lawngreen;
}*/

.header {
	display: flex;
	width: 100%;
	background: black;
	color: lawngreen;
	font-size: .9em;
}
.container-header {
	display: inline-flex;
	justify-self: flex-start;
	background: black;
	color: lawngreen;
}
em {
	display: inline-flex;
	justify-self: center;
	margin: 1.75em 0;
}

#welcome{
	margin-left: 25%;
	padding-top: 3em;
	padding-bottom: 1em;
}

div.instructions-wrapper{
	justify-content: space-around;
	margin: 3% 10%;
	padding: 1%;
	display: flex;
	border: solid;
	border-color: black;
}

#janeway{
	height: 0%;
width: 25%;
}

.about-me{
	padding: 1%;
	background: blue;
	display: inline-block;
	color: white;
}

#picard{
	width: 18em;
	display: inline-block;
	float: left;
	padding-left: 3em;
}

.title{
	display: inline-block;
	float: left;
	padding-left: .5em;
	font-family: Serif;

}

.para {
display: inherit;
	font-family: Serif;
}

.prof {
	text-align: right;
	margin-right: 4.5em;
}

table, th, td {
	border: 1px solid white;
	background: black;
	color: lawngreen;
	border-collapse: collapse;
}

table {
	width: 80%;
	margin-left: 7em;
}


th, td {
	padding: .5em;
	text-align: left;
}

.contact {
	background-color: #373d3e;
	height: 75vh;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 1em 0 3em 0;
}
.form-wrapper {
	background-color: forestgreen;
	height: 100%;
	color: lime;
	width: 90%;
	margin: 0 5% 10% 5%;
}

label, input , textarea {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: .5em;
}

input {
	width: 21.5%;
}
button {
	margin: .5%;
	width: 6%;
	background-color: lime;
	border-style: none;
}

footer {
	background-color: black;
	color: ghostwhite;
	height: 10vh;
	text-align: center;
}